<%- include("header")-%>
<form action="/admin" method="post">
    <input class="form-control" type="text" name="flightID" placeholder="FlightID" id="">
    <input class="form-control" type="text" name="source" placeholder="Source"id="">
    <input class="form-control" type="text" name="destination"placeholder="Destination" id="">
    <input class="form-control" type="text" name="time" placeholder="Time"id="">
    <input class="form-control" type="text" name="price" placeholder="Price"id="">
    <input class="form-control" type="text" name="seats" placeholder="No of seats"id="">
    <button type="submit">Add flight</button>
</form>
</body>
</html>